html {
  font-family: "Kepler Std", serif;
  font-weight: lighter;
  hyphens: auto;
  line-height: 1.3;
}

header {
  background-color: #465d58;
  min-height: 40px;
}

.banner h1 {
  font-family: "Quiche Display";
  color: #fff;
  line-height: 1;
  font-size: 1.5rem;
}

.for-the {
  font-family: "Quiche Display";
  font-size: 50%;
  vertical-align: top;
  font-style: italic;
  font-weight: bold;
}

.logo {
  max-height: 40px;
}

header a, footer a {
  color: #fff;
}

header ul {
  display: none;
}

nav {
  width: 100%;
  text-align: center;
}

nav a:hover {
  color: #eee0e8;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-check:checked ~ ul {
  display: flex;
  text-align: center;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
}

.nav-label {
  position: absolute;
  top: 13px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -9em;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
}

.current .img-flex {
  width: 150%;
}

.banner {
  color: #fff;
}

.banner p {
  font-family: Interstate, sans-serif;
  font-size: .9rem;
  overflow: hidden;
}

.banner a {
  text-decoration: none;
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  border: 2px solid #dfebee;
  color: #dfebee;
  font: inherit;
  text-decoration: none;
}

.btn-ghost {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  background-color: rgba(70, 93, 88, .5);
  border: 1.5px solid #dfebee;
}

.nav-label img {
  width: 100%;
}

ul {
  width: 100%;
  align-items: flex-end;
  font-family: Interstate, sans-serif;
}

.intro {
  font-family: "Kepler Std", serif;
  font-weight: lighter;
}

.banner h2 {
  font-family: "Quiche Display";
}

.intro-1 {
  color: #465d58;
}

.intro-1 h2, .intro-2 h3 {
  font-family: "Quiche Sans", sans-serif;
}

.intro-2 p {
  line-height: 1.2rem;
}

.notes {
  font-family: Interstate, sans-serif;
  font-weight: 500;
}

.servings {
  font-family: Interstate, sans-serif;
  color: #465d58;
}

.banner h4 {
  font-family: "Quiche Display", sans-serif;
}

.landing {
  background-color: #465d58;
}

.link-card {
  background-color: rgba(255, 255, 255, .2);
  font-family: "Quiche Sans", sans-serif;
  border: solid .5px rgba(255, 255, 255, 0);
  border-radius: 60px;
  opacity: .65;
  max-width: 400px;
}

.link-card:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: all 250ms ease-in-out;
}

.link-card a {
  color: #fff;
}

.link-card-home a {
  color: #465d58;
}

.thumb {
  border-radius: 60px;
}

footer {
  background-color: #465d58;
  color: #fff;
  font-family: Interstate, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}

.recipe h2, .recipe h3 {
  font-family: "Quiche Sans", sans-serif;
  color: #465d58;
}

.recipe li {
  font-family: "Kepler Std", serif;
  color: #465d58;
  max-width: 11em;
}

.ingredients ul {
  column-count: 2;
}

.related hr {
  border: solid .5px;
  color:  rgba(70, 93, 88, .5);
}

.related h4 {
  font-family: Interstate, sans-serif;
  font-weight: 500;
}

.card img {
  opacity: .75;
}

.card:hover img {
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.card a {
  color: #fff;
}

@media only screen and (min-width: 25em) {

  .banner h1 {
    font-size: 2rem;
  }

  .ingredients ul {
    column-count: 2;
    max-width: 25em;
  }

  .recipe li {
    max-width: 11em;
  }

}

@media only screen and (min-width: 38em) {

  .nav-check,
  .nav-label {
    display: none;
    width: 0;
  }

  nav ul {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .banner h1 {
    font-size: 2.9rem;
  }

  .ingredients ul {
    column-count: 1;
  }

  .prep {
    margin-left: 10px;
  }

}

@media only screen and (min-width: 60em) {

  .banner h1 {
    font-size: 4rem;
  }

  .intro-2 .column-mon {
    column-count: 2;
  }

}
